version: 2.1

jobs:
  build_and_deploy:
    docker:
      - image: cimg/node:15.10.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build Site
          command: npm run build
      - run:
          name: Deploy Site
          command: |
            git config --global user.email "${GIT_EMAIL}"
            git config --global user.name "${GIT_USERNAME}"
            echo "machine github.com login ${GIT_USERNAME} password ${GIT_TOKEN}" > ~/.netrc
            GIT_USER=${GIT_USERNAME} yarn deploy

workflows:
  version: 2
  build:
    jobs:
      - build_and_deploy